<footer>
    <div class="container-fluid bg-light">
        <div class="d-flex justify-content-between">
            <div>Copyright Creative Workers</div>
            <div>
                <a href="https://www.google.com" target="_blank">Privacy</a> -
                <a href="https://www.google.com" target="_blank">Terms</a> -
                <a href="https://www.google.com" target="_blank">Cookies</a>
            </div>
            <div>© {{ copyrightYear }}</div>
        </div>
    </div>
</footer>