<div class="conteiner-fluid">

  <!-- header -->
  <app-header></app-header>

  <!-- routes will be rendered here -->
  <main>
    <div class="container">

      <div class="row filters-row">

        <div class="col-md-3 offset-md-6">
          <div class="input-group">
            <span class="input-group-prepend">
              <div class="input-group-text">
                <i class="bi bi-search"></i>
              </div>
            </span>
            <input class="form-control clear" type="search" placeholder="Search Channels"
              (keyup)="onSearchChannelChanged($event)">
          </div>
        </div>

        <div class="col-md-3">
          <div class="input-group">
            <select class="form-select form-control" (change)="categoryChanged($event)">
              <option value="">Select Category</option>
              <option *ngFor="let category of categories">
                {{category | titlecase}}
              </option>
            </select>
          </div>
        </div>

      </div>

      <!-- news sources -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf="initialSources.length > 0">
        <div class="col" *ngFor="let newsSource of newsSources">
          <app-news-card [newsSource]="newsSource"></app-news-card>
        </div>
      </div>

      <!-- pagination -->
      <app-pagination *ngIf="initialSources.length > 0" [totalPages]="totalPages" [itemsPerPage]="itemsPerPage"
        (paginationChanged)="paginateSources($event)">
      </app-pagination>

    </div>
  </main>

  <!-- footer -->
  <app-footer></app-footer>

</div>