.pagination-row {

    .page-item {

        &.input-item {
            width: 100px;

            .page-link {
                padding: 0 12px;
            }
        }

        .page-link {
            border: none;
            color: inherit;
        }

    }

}